<div class="room-list-div">
  <div class="room-list-heading">CHAT ROOMS</div>
    <div class="room-list">
      <% rooms.forEach( (room, i) => { %>
        <div class="room-name">
          <a href="/chatrooms/<%=room%>"><h4 class="room"><%=room%><%=newMessages[i].length%></h4><i class="fas fa-comment"></i></a>
          <p></p>
        </div><hr>
      <% }) %>
    </div>
</div>