<div class="room-list-div">
  <div class="room-list-heading">CHAT ROOMS</div>
    <div class="room-list">
      <% roomList.forEach( (room, i) => { %>
        <%  let divColor = i % 2 === 0 ? 'green' : 'grey' %>
        <div class="room-name-<%=divColor%>">
          <a href="/chatrooms/<%=room%>"><h3 class="room"><%=room%></h3></a>
          <% if (newMessages[i] > 0) { %>
            <span class="badge badge-danger"><%=newMessages[i]%></span>
          <%}%>
        </div>
      <% }) %>
    </div>
</div>