<div class="room-list-div">
  <div class="room-name">CHAT ROOMS</div>
  <ul class="room-list">
    <% rooms.forEach( (room, i) => { %>
      <li>
        <a href="/chatrooms/<%=room%>"><h4 class="room"><%=room%><%=newMessages[i].length%></h4></a>
        <p></p>
      </li><hr>
    <% }) %>
  </ul>
</div>