<header>
  <h1>SUPER CHAT</h1>
</header>
<div class="main-content">
  <div class="message-list">
    <div class="room-name">CATS</div>
  </div>
  <div class="new-post">
    <div class="new-post-label">NEW POST</div>
    <div class="new-post-form">
      <form id="new-post">
        <textarea rows='5' form="new-post" name="new-post" class="form-control new-post-text">Post stuff here...</textarea>
        <input type="submit" name="submit-post" value="Post" class="btn btn-success">
      </form>
    </div>
  </div>
</div>
