<header>
  <h1>SUPER CHAT</h1>
</header>
<div class="main-content">
  <div class="message-list-div">
    <div class="room-name">CATS</div>
    <ul class="message-list">
      <% list.forEach( post => { %>
        <li>
          <h4 class="username">Anon</h4>
          <%=post%>
        </li><hr>
      <% }) %>
    </ul>
  </div>
  <div class="new-post">
    <div class="new-post-label">NEW POST</div>
    <div class="new-post-form">
      <div id="new-post">
        <textarea rows='5' form="new-post" id="newPostContent" name="newPostContent" class="form-control new-post-text"></textarea>
        <input type="submit" name="submit-post" value="Post" class="btn btn-success submit-post">
      </div>
    </div>
  </div>
</div>

