<div class="main-content">
  <%- include partials/roomList.ejs %>
  <div class="new-room">
    <div class="new-room-label">NEW ROOM</div>
    <div class="new-room-form">
      <form action="/new-room" method="post" id="new-room">
        <label for="new-room">Room Name</label>
        <input type="text" name="newRoom" class="form-control new-room-text">
        <input type="submit" name="submit-room" value="Create Room" class="btn btn-success submit-post">
      </form>
    </div>
  </div>
</div>

