<div id="login">
  <div class="room-name">CHAT ROOMS</div>
  <form action="/" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" placeholer="Username" class="form-control">
    <input type="submit" name="login" value="Log in" class="btn btn-success">
  </form>
</div>