<div class="main-content">
  <%- include partials/roomList.ejs %>
  <div class="message-list-div">
    <div class="room-name"><%=room%></div>
    <div class="close"><a href="/close-room">close</a></div>
    <ul class="message-list">
      <% for(var post in posts) { %>
        <li>
          <h4 class="username"><%=post%></h4>
          <%=posts[post]%>
        </li><hr>
      <% } %>
    </ul>
  </div>
  <div class="new-post">
    <div class="new-post-label">NEW POST</div>
    <div class="new-post-form">
      <div id="new-post">
        <textarea rows='5' form="new-post" id="newPostContent" name="newPostContent" class="form-control new-post-text"></textarea>
        <input type="submit" name="submit-post" value="Post" class="btn btn-success submit-post">
      </div>
    </div>
  </div>
</div>

