header {
  background-color: #333;
  color: white;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
}

header h1 {
  margin-left: 20px;
  font-weight: bold;
}

.logout {
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}

.message-list-div {
  width: 400px;
  height: 500px;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid;
  overflow: scroll;
}

.new-post {
  width: 300px;
  height: 240px;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid;
}

.room-name, .new-post-label {
  background-color: #333;
  color: white;
  font-weight: bold;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

input[name='submit-post'], input[name='login'] {
  display: block;
  margin: auto;
}

.new-post-text {
  margin: 10px 10px 10px 10px;
  width: 280px;
}

.username {
  font-weight: bold;
}

#login {
  width: 300px;
  height: 150px;
  margin: 20px auto;
  border: 1px solid;
}

input[name="username"] {
  width: 280px;
  margin: 0 auto 10px auto;

}

label {
  font-weight: bold;
  margin-left: 10px;
}